amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
automium==0.2.6
automium-web==0.1.1
billiard==4.2.1
blinker==1.8.2
celery==5.4.0
certifi==2024.12.14
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
dj-database-url==2.2.0
Django==5.1.12
django-debug-toolbar==4.4.6
django-sslserver==0.22
djangorestframework==3.15.2
djangorestframework-csv==3.0.2
Flask==3.0.3
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.4.2
legacy==0.1.7
MarkupSafe==2.1.5
packaging==24.1
prompt_toolkit==3.0.48
psycopg==3.2.3
psycopg-c==3.2.3
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.0.1
redis==5.1.0
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.6.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.4
whitenoise==6.7.0
